doctype html
html(lang='en')
  head
    title Jacques's Guide to ShuffleComp 2015
    script(src="ui.coffee")
    style
      :stylus
  body
    :markdown
      # Jacques's Guide to ShuffleComp 2015

      Hi, my name is Jacques Frechet and this right here is a placeholder.

